.popularToursBadge {
    position: absolute;
    z-index: 2;
    padding: 20px 40px;
    background: var(--color-btn-blue);
        border-radius: 0px 0px 16px 0px;
    
    p {
        font-family: "Montserrat";
        font-size: 24px;
        font-weight: 200;
        color: var(--color-text-secondary);
    }
    
}