.wrapper {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  margin-top: 16px;
  font-size: 16px;
  color: #555;
}
