.footer {
    margin-top: 40px;
     padding: 20px 40px;
    background: var(--color-background-secondary);


.footerBottom {
    margin-top: 40px;
    padding-top: 40px;
    display: flex;
    font-size: 16px;
    justify-content: center;
    color: var(--color-text-grey);
    border-top: 1px solid var(--color-text-grey);

}
}