.footer {
    margin-top: 40px;
     padding: 20px 0;
    background: var(--color-background-secondary);


.footerBottom {
    margin-top: 40px;
    padding-top: 40px;
    display: flex;
    gap: 20px;
    font-size: 16px;
    justify-content: center;
    color: var(--color-text-grey);
    border-top: 1px solid var(--color-text-grey);
    a:hover{
        text-decoration: underline;
    }
     @media screen and (max-width: 768px) {
        flex-direction: column;
     }
}

}