.faqBlock {
  max-width: 1092px;
  margin-top: 80px ;

  :global(.ant-collapse) {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
}

.label {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text-primary);
}

