.popuparToursSwiper {
    
    max-width: 100%;
    position: relative;
    background: var(--color-background-primary);
    
    .swiperImage {
        width: 100%;
        height: calc(100vh - 135px);

        .slideImage {
            position: relative;
            width: 100%;
        }
    }
}