.logoutProfileModal {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
.title{

    font-size: 26px;
    font-weight: 600;
}
.btns {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
}