.navItems {
    display: flex;
    align-items: center;
    gap: 11px;

    .navBtn {
        padding: 15px;
        font-size: 24px;
        color: var(--color-text-grey);
        background: none;
        border: 1px solid rgba(0, 0, 0, 0);
    }
    .navBtn:hover {
        background: none !important;
        border: 1px solid rgba(0, 0, 0, 0) !important;
    }

    .navBtnActive {
        border-radius: 12px;
                padding: 15px;
        font-size: 24px;
        color: var(--color-text-secondary);
        background: var(--color-btn-dark-grey);
    }
    .navBtnActive:hover {
                color: var(--color-text-secondary) !important;
        background: var(--color-btn-dark-grey) !important;
    }


   @media screen and (max-width: 1050px) {
        display: none;
    }
}