.regionList {

    .list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 40px 84px;

        @media screen and (max-width: 1400px) {
            gap: 40px 40px;
        }

        @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media screen and (max-width: 850px) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }

}