.ListBookedTours {
    margin-top: 50px;
    @media screen and (max-width: 600px) {
        margin-top: 30px;
    }
    h2 {
        font-family: "Roboto";
        font-size: 30px;
        @media screen and (max-width: 600px) {
            text-align: center;
        }
    }
.list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
}