.appButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 20px;
  width: fit-content;
  height: fit-content;
  border: 1px solid var(--color-btn-cyan);
  font-size: 24px;
  border-radius: 6px;
  color: var(--color-text-secondary);
  background: var(--color-btn-cyan);
  line-height: 100%;

}

.appButton:hover {
  background: var(--color-btn-blue) !important;
  color: var(--color-text-secondary) !important;
}