.galleryWrapper {
  width: 100%;
  max-width: 860px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .mainSlider {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    aspect-ratio: 16 / 9;

    .navigation {
      position: absolute;
      top: 50%;
      width: 95%;
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      z-index: 10;
      transform: translateY(-50%);
      pointer-events: none;


    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }




  }

  .thumbsSlider {
    width: 100%;
    height: 100px;

    .thumbSlide {
      cursor: pointer;
      border-radius: 8px;
      overflow: hidden;
      opacity: 0.6;
      transition: opacity 0.3s ease, border 0.3s ease;
      border: 2px solid transparent;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:global(.swiper-slide-thumb-active) {
        opacity: 1;
        border-color: var(--color-primary, #007bff);
      }
    }
  }
}

.navButton {
  pointer-events: auto;
  width: 100px;
  height: 100px;
  background-color: var(--color-background-secondary);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.2s;
  transform: rotate(45deg);

  img {
    width: 70px !important;
    height: 70px !important;
  }

  &:hover {
    border: none !important;
    background-color: var(--color-background-secondary) !important;
  }

  &:first-child {
    position: absolute;
    right: -65px;

    @media screen and (max-width: 956px) {
      right: -45px !important;

    }

    img {
      position: absolute;
      top: 30px;
      left: -3px;
      transform: rotate(-45deg);
    }

  }

  // Правая кнопка
  &:last-child {
    left: -67px;

    img {
      position: absolute;
      top: -3px;
      left: 30px;
      transform: rotate(135deg);
    }

    &:hover {}
  }
}