.tourCard {
    // box-shadow: 0px 0px 10px 0px rgb(61, 61, 61);
    position: relative;
    overflow: hidden;
    max-width: 670px;
    width: 100%;
    height: 240px;
    border-radius: 10px;
    cursor: pointer;

    img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.6s ease;
    }

    &:hover img {
        transform: scale(1.1);
    }

    &::after {
        content: "";
        pointer-events: none;
        background: linear-gradient(-45deg, #0000 68%, #fff 68% 70%, #0000 36% 72%, #fff 0% 74%, #0000 72% 76%, #fff 70% 78%, #0000 0%);
        position: absolute;
        inset: -1px -113px -788px 363px;
    }
    
    .overlay {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 40px;
        font-weight: 200;
        color: var(--color-text-secondary);
        transform: translate(0%, -50%);
        padding: 10px;
        border-radius: 6px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
            linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        backdrop-filter: blur(10px);

        h3 {
            font-size: 30px;
        }
    }
}