.tourDetails {
    padding-top: 40px;

    .title {
        font-size: 30px;
        margin-bottom: 20px;

        @media screen and (max-width: 956px) {
            font-size: 25px;

        }
    }

    .galleryAndBooking {
        display: flex;
        gap: 10px;

        @media screen and (max-width: 1300px) {
            flex-direction: column;
            align-items: center;
        }

        .tourBook {
            @media screen and (max-width: 1300px) {
                display: none;
            }
        }
    }
}