.tourDetails {
    padding-top: 40px;

    .title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .galleryAndBooking {
        display: flex;
        gap: 10px;

        .tourBook {
            @media screen and (max-width: 1300px) {
                display: none;
            }
        }
    }}